*,
*::before,
*::after {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body{
    background-color: rgba(155, 230, 215, 0.471);
}
.wrapper{
    width: 900px;
    margin: 10px 20px;
    height: 500px;
    background-image: url(../css/img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.link{
    color:rgba(86, 8, 83, 0.952)
}
#tap{
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgba(4, 62, 57, 0.94);
    border-radius: 50%;
    transition: all 200ms ease;
}
.form-comment{
    margin: 50px auto;
    width: 500px;
    border: 4px solid rgba(4, 62, 57, 0.94);
    border-radius: 10px;
}
#comments-form,
.comments{
    width: 400px;
    margin: 50px auto;
}
#comments-form input, #comments-form textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

#comments-form textarea{
    resize: none;
    height: 100px;
}

#comments-form button{
    border-radius: 5px;
    border: 0;
    background-color: rgb(13, 126, 102);
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}
#comments-form button:hover{
    background-color: rgb(3, 46, 25);
    border: white;
    transition: all 0.3s ease;
}
#error:not(:empty){
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(13, 126, 102);
}

.comments h3{
    margin-bottom: 10px;
    color:rgb(32, 67, 60)
}

.comments h3 span{
    font-weight: bold;
    color:rgb(21, 198, 162)
}

.comments .comment{
    width: 400px;
    background-color: rgba(155, 230, 215, 0.471);
    border-radius: 5px;
    border: 1px solid rgba(4, 62, 57, 0.94);
    padding: 10px 20px;
    margin-bottom: 20px;
}
.comments .comment .delete{
    float: right;
    cursor: pointer;
    color: rgb(123, 7, 7);
    font-weight: bold;

}
.comments .comment .delete:hover{
    color: rgb(66, 12, 12);

}
.comments .comment .username{
    font-weight: bold;
    color:rgb(2, 60, 49)
}

.comments .comment .comment-text{
    margin-top: 6px;
}